* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
input,
button {
	font-family: inherit;
}

body {
	font-family: "GT Walsheim Pro";
	margin: 0 auto;
	max-width: 768px;
}
section.title {
	text-align: center;
	margin-top: 3rem;
}
section.title button {
	border: 0;
	background-color: black;
	color: white;
	padding: 1rem 2rem;
	border-radius: 10px;
	font-size: 1rem;
	cursor: pointer;
	transition: 0.35s;
}
section.title button:hover {
	background-color: rgb(26, 26, 26);
	transform: translateY(-5px);
	box-shadow: 0 10px 8px #00000028;
}
section.title button:active {
	transform: translateY(0px);
	box-shadow: 0 5px 3px #00000028;
}
section.title span {
	color: gray;
	letter-spacing: 1rem;
}
section.title div.watermark {
	font-size: 400px;
	opacity: 0.2;
	position: fixed;
	left: 800px;
	top: 30px;
	font-weight: 700;
	pointer-events: none;
}
h1.title {
	font-size: 7rem;
	text-align: center;
	margin: 2rem 0;
}
@media (max-width: 768px) {
	body {
		max-width: 100%;
		margin: 0 1rem;
	}
	section.title h1.title {
		font-size: 4rem;
	}
	section.title .watermark {
		left: 30px !important;
	}
}
